<%- include("partials/header"); -%>
<div class="row upper">

  <div class="col-md-4 proimg">
    <img src="/images/profile.jpg" class="profileimage">
    <br><br>
    <button class="btn btn-primary " type="submit">Change Photo</button>
  </div>
  <div class="profile col-md-8">
    <p>Username:<strong><%=username%></strong></p>
    <p>First Name:<strong><%=user.firstName%></strong></p>
    <p>Last Name:<strong><%=user.lastName%></strong></p>
    <br>
    <a href="/seeWatchList"><<button class="btn btn-primary btn-lg" type="submit">See Your Watchlist!!!</button></a>
  </div>

</div>


<div class="row upper user">
  <div class="col-md-4 first">
    <p>Edit Profile</p>
  </div>

  <div class="col-md-8">
    <form action="/changeSettings" method="post">
      <input type="text" name="firstName" placeholder="First Name" required>
      <br><br>
      <input type="text" name="lastName" placeholder="Last Name" required>
      <br><br>

      <button class="btn btn-outline-primary" type="submit">Confirm</button>
      <br><br>
    </form>
  </div>
</div>

<div class="row upper">
  <div class="col-md-4 first">
    <p>Change Password</p>
  </div>
  <div class="col-md-8">
    <form action="/changePassword" method="post">

      <input type="password" name="password" placeholder="Password" required>
      <br><br>
      <input type="password" name="confirmpassword" placeholder="Confirm Password" required>
      <br><br>
      <button type="submit" class="btn btn-outline-primary">Confirm</button>
      <br><br>
    </form>
  </div>
</div>
<%- include("partials/footer"); -%>
