<%- include("partials/header"); -%>
<div class="container-fluid title">
  <div class="row">
    <div class="col-md-9">
      <h1 class="title-heading"><%= result.title.title %> (<%= result.title.year%>) </h1>
    </div>
    <div class="col-md-3">
      <br>
      <form class="" action="/updateWatchlist" method="post">
        <input type="text" name="title" value="<%=result.title.title%>" style="display:none;">
        <input type="number" name="rating" value="<%=result.ratings.rating%>" style="display:none;">
        <input type ="text" name="titleType" value="<%= result.title.titleType %>" style="display:none;">
        <input type ="text" name="image" value="<%= result.title.image.url %> " style="display: none;">
      <button class="btn btn-outline-light float-end title-btn" type="submit" name="button">+ Add to your Watchlist</button>
      </form>
    </div>
  </div>
  <div class="title-field">
    <div class="row">
      <div class="col-sm-3 col-3">
        <img src="<%=result.title.image.url%>" class="m">
      </div>
      <div class="col-sm-9 col-9">
        <h3><strong>Plot:</strong> <%= result.plotOutline.text %></h3><br>
        <h3><strong>Genres:</strong> <%= result.genres %></h3><br>
        <h3><strong>Type:</strong> <%= result.title.titleType %></h3><br>
        <h3><strong>Rating:</strong> <%= result.ratings.rating %></h3>
      </div>
    </div>

  </div>
</div>
<%- include("partials/footer"); -%>
