<%- include("partials/header"); -%>
<img src="<%=result.title.image.url%>">
<p><%= result.title.title %></p>
<h1><%=result.ratings.rating %></h1>
<h1><%= result.plotOutline.text %></h1>
<h1><%= result.genres %></h1>
<h1><%= result.releaseDate %></h1>
<%- include("partials/footer"); -%>







<%- include("partials/footer"); -%>
